
.card {
	background: black;
	border: 1px solid black;
}
footer {
	text-align: center;
	font-size: 1.0em;
	color:red;
	
}
table{
	margin:5px auto; width:50%;
	background:green;
}
.top{
	background:blue;
	color: white;
}
.rest{
	background: rgba(44, 62, 80,0.8);	
	color: white;
}
#wrapper {

	width: 900px;
	margin: 0 auto;
}
h1{
	color: red;
	font-size: 3.2em;
	text-align: center;
}

